<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.ygo.sepse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inicio"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DebugActivity" />
        <activity
            android:name=".Tela2Activity"
            android:label="@string/title_activity_tela2"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber1Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber2Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber3Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber4Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber5Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber6Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber7Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber_res1Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber_res2Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoSaber_res3Activity"
            android:label="Como saber?"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".Informacoes"
            android:label="Informações"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ComoPrevenir"
            android:label="Como prevenir"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".SaibaMaisActivity"
            android:label="Saiba Mais"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".SaibaMais2Activity"
            android:label="Saiba Mais"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".SaibaMais3Activity"
            android:label="Saiba Mais"
            android:parentActivityName=".Inicio"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVIT"
                android:value=".Inicio" />
        </activity>
    </application>

</manifest>